root = true

[*]
charset = utf-8
indent_style = space            # 使用空格缩进
indent_size = 2                 # 每级缩进使用 2 个空格
end_of_line = lf                # 行尾使用 LF（Linux 风格换行符）
max_line_length = 80       # 每行最大字符数为 80
insert_final_newline = true
trim_trailing_whitespace = true
